Django==2.2.28
django-debug-toolbar==1.11.1
django-extensions==2.1.4
django-filter==2.4.0
django-rest-swagger==2.2.0
djangorestframework==3.11.2
djangorestframework-csv==2.1.0
djangorestframework-gis==0.14
djangorestframework-xml==1.4.0
drf-amsterdam==0.1.8
drf-extensions==0.4.0
elasticsearch==6.3.1
elasticsearch-dsl==6.4.0
factory-boy==2.11.1
graypy==0.3.1
itypes==1.2.0
psycopg2-binary==2.8.6
python-swiftclient==4.3.0
python-keystoneclient==5.1.0
PyYAML==6.0
requests==2.31.0
sentry-sdk==1.14.0
urllib3==1.26.17
